$colorWhite: #ffffff;
$colorBlack: #000000;
$colorOrange: #D53301;
$colorGreen: #6ADC00;
$colorGrey: #666666;

html, body {
  height: 100%;
}

.app{
  background: url('../img/MainAppBackground.scale-240.png') center center no-repeat;
  background-size: cover;
  color: $colorWhite;

  a{
    color: $colorOrange;
  }

  .content{
    background: none;
  }

  .content-padded{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid $colorGrey;
  }

  .bar{
    border: none;
    background: none;

    .segmented-control{
      background: none;
      border-color: $colorGrey;
      .control-item{
        background-color: rgba(0, 0, 0, 0.5);
        border-color: $colorGrey;
        color: $colorOrange;
        &.active{
          background-color: $colorOrange;
          color: $colorWhite;
        }
      }
    }

  }

  .card{
    background: none;
    border: none;
    p{
      color: $colorWhite;
    }
  }

  .table-view{
    background: none;
    border: 1px solid $colorGrey;
  }

  .table-view-cell{
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .table-view-divider {
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 500;
    color: #999;
    background-color: $colorGrey;
    border-top: 1px solid $colorGrey;
    border-bottom: 1px solid $colorGrey;
  }
}

.signal {
  li {
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    display: inline-block;
    &.symbol{
      width: 25%;
    }
    &.direction{
      width: 25%;
      text-align: left;
      padding-left: 96px;
      &.direction-call{
        background: url('../img/arrows/336x158/up.png') center left no-repeat;
        background-size: contain;
      }
      &.direction-put{
        background: url('../img/arrows/336x158/down.png') left center no-repeat;
        background-size: contain;
      }
    }
    &.time{
      text-align: center;
      width: 15%;
    }
    &.reliability{
      width: 35%;
      text-align: center;
      @for $i from 0 through 10 {
        &.reliability-#{$i} {
          background: url('../img/levels/336x158/level_#{$i}.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
}