html, body {
  height: 100%; }

.app {
  background: url("../img/MainAppBackground.scale-240.png") center center no-repeat;
  background-size: cover;
  color: white; }
  .app a {
    color: #d53301; }
  .app .content {
    background: none; }
  .app .content-padded {
    background-color: rgba(0, 0, 0, 0.5); }
  .app .bar {
    border: none;
    background: black; }
    .app .bar .segmented-control {
      background: none;
      border-color: #666666; }
      .app .bar .segmented-control .control-item {
        background-color: rgba(0, 0, 0, 0.5);
        border-color: #666666;
        color: #d53301; }
        .app .bar .segmented-control .control-item.active {
          background-color: #d53301;
          color: white; }
  .app .card {
    background: none;
    border: none; }
    .app .card p {
      color: white; }
  .app .table-view {
    background: none; }
  .app .table-view-cell {
    border: none;
    background: none;
    padding: 0; }
  .app .table-view-divider {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    color: #999;
    background-color: transparent;
    border: none; }
  .app #signals-table {
    padding: 0;
    border: none; }
    .app #signals-table .nextUpdateIn {
      padding: 10px;
      text-align: center; }
      .app #signals-table .nextUpdateIn p {
        color: #6adc00; }
      .app #signals-table .nextUpdateIn.soon p {
        color: #d53301; }
    .app #signals-table ul.signal {
      padding: 0; }
      .app #signals-table ul.signal.header {
        background: rgba(255, 255, 255, 0.75);
        color: black;
        padding: 5px 0 10px 0; }

.signal li {
  padding-top: 8px;
  list-style: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .signal li.symbol {
    width: 25%; }
  .signal li.direction {
    width: 20%; }
    .signal li.direction.direction-call {
      color: #6adc00; }
    .signal li.direction.direction-put {
      color: #d53301; }
  .signal li.time {
    width: 25%; }
  .signal li.reliability {
    width: 30%; }
    .signal li.reliability.reliability-0 {
      background: url("../img/levels/336x158/level_0.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-1 {
      background: url("../img/levels/336x158/level_1.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-2 {
      background: url("../img/levels/336x158/level_2.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-3 {
      background: url("../img/levels/336x158/level_3.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-4 {
      background: url("../img/levels/336x158/level_4.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-5 {
      background: url("../img/levels/336x158/level_5.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-6 {
      background: url("../img/levels/336x158/level_6.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-7 {
      background: url("../img/levels/336x158/level_7.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-8 {
      background: url("../img/levels/336x158/level_8.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-9 {
      background: url("../img/levels/336x158/level_9.png") center center no-repeat;
      background-size: 75% 75%; }
    .signal li.reliability.reliability-10 {
      background: url("../img/levels/336x158/level_10.png") center center no-repeat;
      background-size: 75% 75%; }

.signalMeta .signalId {
  display: inline-block;
  width: 25%;
  font-size: 8pt;
  text-align: center;
  vertical-align: baseline; }
.signalMeta .signalLifeTimeContainer {
  display: inline-block;
  width: 75%;
  vertical-align: baseline; }
.signalMeta .signalLifeTime {
  background: #666666;
  height: 3px; }
  .signalMeta .signalLifeTime .signalLifeTimeBar {
    background: #6adc00;
    width: 10%;
    height: 100%; }

.table-view-cell-signal.expired {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(505%); }
  .table-view-cell-signal.expired:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/expired-stamp.png") center center no-repeat;
    background-size: 100px auto;
    opacity: 0.8; }
