$colorWhite: #ffffff;
$colorBlack: #000000;
$colorOrange: #D53301;
$colorGreen: #6ADC00;
$colorGrey: #666666;

$fontSizeSmall: 8pt;

html, body {
  height: 100%;
}

.app{
  background: url('../img/MainAppBackground.scale-240.png') center center no-repeat;
  background-size: cover;
  color: $colorWhite;

  a{
    color: $colorOrange;
  }

  .content{
    background: none;
  }

  .content-padded{
    background-color: rgba(0, 0, 0, 0.5);
  }

  .bar{
    border: none;
    background: black;
    .segmented-control{
      background: none;
      border-color: $colorGrey;
      .control-item{
        background-color: rgba(0, 0, 0, 0.5);
        border-color: $colorGrey;
        color: $colorOrange;
        &.active{
          background-color: $colorOrange;
          color: $colorWhite;
        }
      }
    }

  }

  .card{
    background: none;
    border: none;
    p{
      color: $colorWhite;
    }
  }

  .table-view{
    background: none;
  }

  .table-view-cell{
    border: none;
    background: none;
    padding: 0;
  }

  .table-view-divider {
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 500;
    color: #999;
    background-color: $colorGrey;
    border: none;
  }


  #signals-table{
    padding: 0;
    ul.signal{
      padding: 0;
      &.header{
        background: $colorBlack;
        padding: 20px 0;
      }
    }
  }
}

.signal {
  li {
    padding-top: 8px;
    list-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    &.symbol{
      width: 25%;
    }
    &.direction{
      width: 20%;
      &.direction-call{
        color: $colorGreen;
      }
      &.direction-put{
        color: $colorOrange;
      }
    }
    &.time{
      width: 25%;
    }
    &.reliability{
      width: 30%;
      @for $i from 0 through 10 {
        &.reliability-#{$i} {
          background: url('../img/levels/336x158/level_#{$i}.png') center center no-repeat;
          background-size: 75% 75%;
        }
      }
    }
  }

}

.signalMeta{
  .signalId{
    display: inline-block;
    width: 25%;
    font-size: $fontSizeSmall;
    text-align: center;
    vertical-align: baseline;
  }
  .signalLifeTimeContainer{
    display: inline-block;
    width: 75%;
    vertical-align: baseline;
  }
  .signalLifeTime{
    background: $colorGrey;
    height: 3px;
    .signalLifeTimeBar{
      background: $colorGreen;
      width: 10%;
      height: 100%;
    }
  }
}

.table-view-cell-signal{
  &.expired{
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('../img/expired-stamp.png') center center no-repeat;
      background-size: 100px auto;
      opacity: 0.8;
    }
  }
}

#timerContainer{
  text-align: center;
}

#timer{
  zoom: 0.35;
  -moz-transform: scale(0.35);
  width: 35%;
}

#nextSignalsInLabel{
  width: 55%;
}

#nextSignalsInLabel, #timer{
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}