html, body {
  height: 100%; }

.app {
  background: url("../img/MainAppBackground.scale-240.png") center center no-repeat;
  background-size: cover;
  color: #ffffff; }
  .app a {
    color: #D53301; }
  .app .content {
    background: none; }
  .app .content-padded {
    background-color: rgba(0, 0, 0, 0.5); }
  .app .bar {
    border: none;
    background: black; }
    .app .bar .segmented-control {
      background: none;
      border-color: #666666; }
      .app .bar .segmented-control .control-item {
        background-color: rgba(0, 0, 0, 0.5);
        border-color: #666666;
        color: #D53301; }
        .app .bar .segmented-control .control-item.active {
          background-color: #D53301;
          color: #ffffff; }
  .app .card {
    background: none;
    border: none; }
    .app .card p {
      color: #ffffff; }
  .app .table-view {
    background: none; }
  .app .table-view-cell {
    border: none;
    background: none;
    padding: 0; }
  .app .table-view-divider {
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 500;
    color: #999;
    background-color: #666666;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666; }
  .app #signals-table {
    padding: 0; }
    .app #signals-table ul.signal {
      padding: 0; }

.signal {
  margin-top: 30px; }
  .signal li {
    padding-top: 8px;
    list-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
    .signal li.symbol {
      width: 25%; }
    .signal li.direction {
      width: 20%; }
      .signal li.direction.direction-call {
        color: #6ADC00; }
      .signal li.direction.direction-put {
        color: #D53301; }
    .signal li.time {
      width: 25%; }
    .signal li.reliability {
      width: 30%; }
      .signal li.reliability.reliability-0 {
        background: url("../img/levels/336x158/level_0.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-1 {
        background: url("../img/levels/336x158/level_1.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-2 {
        background: url("../img/levels/336x158/level_2.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-3 {
        background: url("../img/levels/336x158/level_3.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-4 {
        background: url("../img/levels/336x158/level_4.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-5 {
        background: url("../img/levels/336x158/level_5.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-6 {
        background: url("../img/levels/336x158/level_6.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-7 {
        background: url("../img/levels/336x158/level_7.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-8 {
        background: url("../img/levels/336x158/level_8.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-9 {
        background: url("../img/levels/336x158/level_9.png") center center no-repeat;
        background-size: 75% 75%; }
      .signal li.reliability.reliability-10 {
        background: url("../img/levels/336x158/level_10.png") center center no-repeat;
        background-size: 75% 75%; }

.signalMeta .signalId {
  display: inline-block;
  width: 25%;
  font-size: 8pt;
  text-align: center;
  vertical-align: baseline; }
.signalMeta .signalLifeTimeContainer {
  display: inline-block;
  width: 75%;
  vertical-align: baseline; }
.signalMeta .signalLifeTime {
  background: #666666;
  height: 3px; }
  .signalMeta .signalLifeTime .signalLifeTimeBar {
    background: #6ADC00;
    width: 10%;
    height: 100%; }

.table-view-cell-signal.expired:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/expired-stamp.png") center center no-repeat;
  background-size: 100px auto;
  opacity: 0.8; }

#timerContainer {
  text-align: center; }

#timer {
  zoom: 0.35;
  -moz-transform: scale(0.35);
  width: 35%; }

#nextSignalsInLabel {
  width: 55%; }

#nextSignalsInLabel, #timer {
  display: inline-block;
  padding: 0;
  vertical-align: middle; }

/*# sourceMappingURL=app.css.map */
